extends template
block variables
	-	var title = 'Главная страница'
block content
	.galleryGrid
		.description
			.top
				p.
					Актеры
			p.
				Актеры исполняющие главные или второстепенные роли на протяжении всех фильмов.
		.img1
			a(href="paul.html")
				img(src="img/274px-PaulWalkerEdit-1.jpg")
		.img2
			a(href="index.html")
				img(src="img/220px-Jordana_Brewster_at_PaleyFest_2013_2.jpg")
		.img3
			a(href="index.html")
				img(src="img/220px-Michelle_Rodriguez_Cannes_2018_cropped.jpg")
		.img4
			a(href="index.html")
				img(src="img/274px-Ludacris_2008.jpg")
		.img5
			a(href="index.html")
				img(src="img/274px-Vin_Diesel_by_Gage_Skidmore_2.jpg")
		.img6
			a(href="index.html")
				img(src="img/Dwayne_Johnson_2014(Cropped).jpg")
		.img7
			a(href="index.html")
				img(src="img/Jason_Statham_2018.jpg")
		.img8
			a(href="index.html")
				img(src="img/Sung_Kang_(Sundance_2007).jpg")
		.img9
			a(href="index.html")
				img(src="img/TyreseGibsonDec08.jpg")

	.galleryBIGGrid
		.description
			a(href="index.html")
				img(src="img/Машины/995v0c669a.jpg")
		.img1
			a(href="index.html")
				img(src="img/Машины/995v7bc88b.jpg")
		.img2
			a(href="index.html")
				img(src="img/Машины/995vcb3b56.jpg")
		.img3
			a(href="index.html")
				img(src="img/Машины/995vd88e39.jpg")
		.img4
			a(href="index.html")
				img(src="img/Машины/APR-Mitsubishi-Lancer-Evolution-VIII.jpg")
		.img5
			a(href="index.html")
				img(src="img/Машины/C-West-Nissan-Silvia-S15.jpg")
		.img6
			a(href="index.html")
				img(src="img/Машины/Dodge-Cobra-700x424.jpg")
		.img7
			a(href="index.html")
				img(src="img/Машины/Mitsubishi-Eclipse-Spyder.jpg")
		.img8
			a(href="index.html")
				img(src="img/Машины/Nissan-350Z-z33.jpg")
		.img9
			a(href="index.html")
				img(src="img/Машины/Nissan-Skyline-GT-R-R34.jpg.webp")
		.upu
			| Машины, которые были использованны в съемках и спустя время стали неотъемлимой частью франшизы.
	.galleryDOUBLEGrid
		.img1
			a(href="index.html")
				img(src="img/Страны/160px-Flag_of_Japan.svg.png")
		.img2
			a(href="index.html")
				img(src="img/Страны/160px-Flag_of_the_United_States_(Pantone).svg.png")
		.img3
			a(href="index.html")
				img(src="img/Страны/Flag_of_Brazil.svg.png")
		.img4
			a(href="index.html")
				img(src="img/Страны/Flag_of_Cuba.svg.webp")
		.img5
			a(href="index.html")
				img(src="img/Страны/Flag_of_Mexico.svg.png")
		.img6
			a(href="index.html")
				img(src="img/Страны/Flag_of_Russia.svg.webp")
		.img7
			a(href="index.html")
				img(src="img/Страны/Flag_of_the_Dominican_Republic.svg.png")
		.img8
			a(href="index.html")
				img(src="img/Страны/Flag_of_the_United_Arab_Emirates.svg.webp")
		.img9
			a(href="index.html")
				img(src="img/Страны/Flag_of_the_United_Kingdom.svg.png")
		.upu
			| Страны учавствующие в сьемках
		.uvu
			| Награды
		.AA
			a(href="index.html")
				img(src="img/Награды/goldenglobe.jpg")
		.BB
			a(href="index.html")
				img(src="img/Награды/Saturn-Award.jpg")
		.CC
			a(href="index.html")
				img(src="img/Награды/SKiHIZzvkCrx.jpg")