extends template
block variables
    -    var title = 'Подробнее'
block content
    .about
        .img1
            img(src="img/274px-PaulWalkerEdit-1.jpg")
        .text1
            h2 Пол Уи́льям Уо́кер IV
            p
                i Американский киноактёр и модель. Широкую известность получил благодаря роли Брайана О’Коннора в серии фильмов «Форсаж».
            p Пол Уильям Уокер родился 12 сентября 1973 года в американском городе Глендейл, штат Калифорния, в семье бизнесмена Пола Уильяма Уокера III (род. 10 марта 1946) и бывшей модели Шерил Крабтри[11] (они развелись в 2004 году). Пол был старшим ребёнком в семье: у него было два младших брата, Калеб Майкл (род. 4 октября 1977) и Коди Бо (род. 13 июня 1988), и две младшие сёстры, Эшли Джей (род. 5 апреля 1984) и Эми[12]. Семья Уокера — мормоны[10].
            p Актёрская карьера Пола началась в раннем детстве с телевизионной рекламы подгузников «Pampers Diapers» в 1975 году. Став постарше, он продолжал сниматься в различных телевизионных программах и рекламных роликах. Свою первую роль в кино Уокер сыграл в тринадцать лет — в комедийной страшилке «Монстр из шкафа». Затем последовали и другие роли как в кино, так и в телевизионных сериалах («Чарльз в ответе», «Кто здесь босс?», «Молодые и дерзкие»).
            p Окончив в 1991 году Христианскую школу в Сан-Вэлли в Калифорнии, Уокер решил заняться изучением морской биологии, поступив в Калифорнийский Колледж.
            br
            p
                i Карьера
            p.
                В 1994 году Уокер снялся в фильме «Тэмми и Ти-Рекс» вместе с тогда ещё неизвестной Дениз Ричардс. Следующей работой молодого актёра стала роль в фильме 1998 года «Встречайте Дидлов» (актёр появляется у Mighty Mighty Bosstones в клипе на песню-саундтреку «Wrong Thing Right Then»).
                В этом же году актёр получает свою следующую роль, став объектом страсти Риз Уизерспун в фильме «Плезантвиль». Хотя картина провалилась в прокате, критики неплохо приняли её, оценив актёрские работы. Эта роль приносит актёру известность и список его работ в кино начинает пополняться новыми ролями.
                В следующем 1999 году снимается в довольно удачных картинах «Это всё она» (небольшая роль лучшего друга Фредди Принца-Младшего) и «Студенческая команда» — о трудных буднях школьного футбола.
